<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="SickListExtension" type="FSSExtensions.SickList.WcfBehaviorExtensionElementSickList, FSSExtensions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=8b5b05a4a33f2fa9"/>
        <add name="DirectPaymentsExtension" type="FSSExtensions.WcfBehaviorExtensionElementBase, FSSExtensions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=8b5b05a4a33f2fa9"/>
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="SickList_test">
          <SickListExtension RegNum="Рег.номер_организации_в_ФСС" UseEncryption="true" SkipSSLValidation="true">
            <InsurerCertificate findValue="02 9a 55 c1 00 b6 ac f2 98 4c 30 b0 11 dd 59 6a 08" x509FindType="FindBySerialNumber"/>
            <ChiefCertificate findValue="02 9a 55 c1 00 b6 ac f2 98 4c 30 b0 11 dd 59 6a 08" x509FindType="FindBySerialNumber"/>
            <AccountantCertificate findValue="02 cc da 5c 00 ca ac f9 a2 47 ec 92 c2 f1 6f c5 23" x509FindType="FindBySerialNumber"/>
            <!--Сертификат ФСС ВРУЧНУЮ устанавливать в Личные, потому что осуществляется поиск этого сертификата по серийному номеру в папке Личные-->
            <FSSCertificate findValue="01 d5 78 44 c8 42 11 a0 00 00 01 47 03 e8 00 02" x509FindType="FindBySerialNumber"/>
            <!--storeLocation="CurrentUser" storeName="AddressBook"-->
          </SickListExtension>
        </behavior>

        <behavior name="DirectPayments_test">
          <DirectPaymentsExtension UseEncryption="true" SkipSSLValidation="true">
            <InsurerCertificate findValue="02 9a 55 c1 00 b6 ac f2 98 4c 30 b0 11 dd 59 6a 08" x509FindType="FindBySerialNumber"/>
            <FSSCertificate findValue="01 d5 7d b5 03 6e 71 e0 00 00 01 47 03 e8 00 02"
                            storeLocation="CurrentUser"
                            storeName="AddressBook"
                            x509FindType="FindBySerialNumber"/>
          </DirectPaymentsExtension>
        </behavior>

        <behavior name="SickList">
          <SickListExtension RegNum="Рег.номер_организации_в_ФСС" UseEncryption="true" SkipSSLValidation="true">
            <InsurerCertificate findValue="02 9a 55 c1 00 b6 ac f2 98 4c 30 b0 11 dd 59 6a 08" x509FindType="FindBySerialNumber"/>
            <ChiefCertificate findValue="02 9a 55 c1 00 b6 ac f2 98 4c 30 b0 11 dd 59 6a 08" x509FindType="FindBySerialNumber"/>
            <AccountantCertificate findValue="02 cc da 5c 00 ca ac f9 a2 47 ec 92 c2 f1 6f c5 23" x509FindType="FindBySerialNumber"/>
            <!--Сертификат ФСС ВРУЧНУЮ устанавливать в Личные, потому что осуществляется поиск этого сертификата по серийному номеру в папке Личные-->
            <FSSCertificate findValue="01 d6 90 08 71 7a f5 30 00 00 02 8b 03 e8 00 02" x509FindType="FindBySerialNumber"/>
            <!--storeLocation="CurrentUser" storeName="AddressBook"-->
          </SickListExtension>
        </behavior>

        <behavior name="DirectPayments">
          <DirectPaymentsExtension UseEncryption="true" SkipSSLValidation="true">
            <InsurerCertificate findValue="02 9a 55 c1 00 b6 ac f2 98 4c 30 b0 11 dd 59 6a 08" x509FindType="FindBySerialNumber"/>
            <FSSCertificate findValue="01 d6 81 c6 e1 c9 ba 10 00 00 02 86 03 e8 00 02"
                            storeLocation="CurrentUser"
                            storeName="AddressBook"
                            x509FindType="FindBySerialNumber"/>
          </DirectPaymentsExtension>
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="FileOperationsLnServiceBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CustomBinding_IGatewayService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://docs.fss.ru/ExtService/GatewayService.svc"
        behaviorConfiguration="DirectPayments" binding="wsHttpBinding"
        bindingConfiguration="CustomBinding_IGatewayService" contract="DirectPayments.IGatewayService"
        name="DirectPayments" />
      <endpoint address="http://docs-edu.fss.ru:81/ExtService/GatewayService.svc"
        behaviorConfiguration="DirectPayments_test" binding="wsHttpBinding"
        bindingConfiguration="CustomBinding_IGatewayService" contract="DirectPayments.IGatewayService"
        name="DirectPayments_test" />
      <endpoint address="https://docs.fss.ru/ws-insurer-crypto-v20/FileOperationsLnService"
        behaviorConfiguration="SickList" binding="basicHttpBinding"
        bindingConfiguration="FileOperationsLnServiceBinding" contract="SickList.FileOperationsLnService"
        name="SickList" />
      <endpoint address="https://docs-test.fss.ru/ws-insurer-crypto-v20/FileOperationsLnService"
        behaviorConfiguration="SickList_test" binding="basicHttpBinding"
        bindingConfiguration="FileOperationsLnServiceBinding" contract="SickList.FileOperationsLnService"
        name="SickList_test" />
    </client>
  </system.serviceModel>

</configuration>
